body .main-container {
  max-width: 826px;
  margin: 20vh auto 10vh auto;
}
body .main-container .input-text {
  appearance: none;
  max-width: 816px;
  width: 100%;
  min-height: 150px;
  margin: 5px;
  border: none;
  border-bottom: 0.3px solid black;
  font-family: "Fira Sans";
  font-style: normal;
  font-size: 1.2em;
  font-weight: 400;
}
body .main-container .input-text:focus {
  outline: none;
  border-bottom: 1.5px solid brown;
}
body .keybord-container {
  max-width: 800px;
  height: max-content;
  margin: auto;
  border: 3px solid brown;
  border-radius: 10px;
  padding: 5px;
}
body .keybord-container .keybord-line {
  display: flex;
  justify-content: space-between;
  height: max-content;
  align-items: center;
}
body .keybord-container .keybord-line .line__btn {
  display: inline-block;
  border: 2px solid #000;
  font-family: "Fira Sans";
  font-style: normal;
  font-size: 1.1em;
  font-weight: 400;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin: 2px;
  line-height: 45px;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
}
body .keybord-container .keybord-line .btn_active {
  background-color: #1E90FF;
}
body .keybord-container .keybord-line .keyBackspace,
body .keybord-container .keybord-line .keyCapsLock {
  width: 94px;
}
body .keybord-container .keybord-line .keyTab {
  width: 73px;
}
body .keybord-container .keybord-line .keyCapsLock,
body .keybord-container .keybord-line .keyTab,
body .keybord-container .keybord-line .keyLShift {
  text-align: left;
  padding-left: 5px;
}
body .keybord-container .keybord-line .keyBackspace,
body .keybord-container .keybord-line .keyEnter,
body .keybord-container .keybord-line .keyRShift {
  text-align: right;
  padding-right: 5px;
}
body .keybord-container .keybord-line .keyEnter,
body .keybord-container .keybord-line .keyLShift {
  width: 115px;
}
body .keybord-container .keybord-line .keyRShift {
  width: 146px;
}
body .keybord-container .keybord-line .keyArrowGroup {
  display: inline-block;
  width: 45px;
  margin: 2px;
}
body .keybord-container .keybord-line .keySpace {
  flex-grow: 1;
}
body .keybord-container .keybord-line .keyArrowUp,
body .keybord-container .keybord-line .keyArrowDown {
  display: block;
  width: 100%;
  height: 24.5px;
  line-height: 24.5px;
}
body .keybord-container .keybord-line .keyDel {
  width: 53px;
}
body .help-cont {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid brown;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}
body .help-cont:hover {
  border: 2px solid brown;
}
body .help-cont::after {
  content: "?";
  font-family: "Fira Sans";
  font-style: normal;
  font-size: 3em;
  font-weight: 400;
}
body .rotate {
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}
body .info-cont {
  position: absolute;
  width: 350px;
  left: calc(50% - 175px);
  bottom: 10px;
  text-align: center;
}
body .info-cont > span {
  display: block;
  font-family: "Fira Sans";
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
}